.icon {
    display: inline;
    width: 20px;
    height: 20px;
}

.timestamp{
    font-size: 10px;
}

header {
    position: fixed;
    z-index: 2;
    width: 100vw;
}

.clear {
    display:block;
    height: 100px;
}

.topnav {
    background-color: #28262C;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 2em;
    font-weight: 600;
    height:40px;
}

.fa-code-branch {
    font-size: 1.5em;
}

li > span {
    font-style: oblique;
}

.logo {
    font-size: 2em;
    font-weight: 600;
}

.bottomnav {
    background-color: #28262C;
    box-shadow: 0 2px 1px -1px gray;
}

.bottomnav > ul {
    display: flex;
    justify-content: space-around;
}

.list {
    display: grid;
    justify-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-areas: "issues"
                         "pulls"
                         "feed";
    padding-top: 120px;
}

.hidden {
    display: none;
}

.issues {
    grid-area: issues;
    overflow: scroll;
}

.pulls {
    grid-area: pulls;
    overflow: scroll;
}

/* add styling for spacer class */

/* .lightbox {

} */

.modal {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    /* overflow: auto; */
    position: fixed;
    top: 0;
    width: 95%;
    z-index: 3;
    background-color: rgba(0, 0, 0, .7);
}

.ghcomment {
    float: right;
    margin: 8px 0px 0px 10px; */
}

.ghopen, .ghcloseissue {
    margin-top: 10px;
    margin-right: 20px;
}

.inputwrap {
    overflow: hidden; 
    padding-right: .5em;
}

.fa-times-circle {
    position: absolute;
    top: 30px;
    right: 10px;
    color: black;
    font-size: 1.75em;
    z-index: 4;
}

.modalhide {
    visibility:hidden;
}

.commentthread {
    overflow: scroll;
    width: 85%;
    height: 150px;
    display: block;
    margin: 0 25px;
}

.feed {
    grid-area: feed;
    overflow: scroll;
    padding-bottom: 100px;
}

.input-field {
    margin-top: 15px;
}

.ghfeed {
    margin: 10px auto;
    width: 90vw;
    text-align: center;
}

.item {  /* can be removed after card update */
    color: white;
    background-color: #19A79A;
    width:95%;
    text-align: center;
    padding: 20px;
}

.feedList {
    /* display: grid; */
    /* grid-template-columns: repeat(1, auto); */
    grid-row: span 3;
    background-color: #f5f5f5;
}

.feedItem {
    color: #000000;
    background-color: #f5f5f5;
    width: 95%;
    border: none;
    box-shadow: none;
    padding: 10px 0px 0px 20px;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.slack {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    text-transform: none;
    height: 35px;
}

footer {
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: white;
    width: 100vw;
}

button > span {
    font-weight: 800;
    font-style: none;
    width: 100vw;
}

/* strong {
    display: fixed;
    position: sticky;
    font-size: 1.5em;
    z-index: 2;
    margin: 10px 0px 10px 20px;
    padding: 40px 0px 40px 0px;
} */

@media (min-width: 336px) {
    .fa-times-circle {
        top: 10px;
    }
}

@media (max-width: 574px) {
    .logo {
        display: none;
    }

    .fa-code-branch {
        transform: rotate(180deg) scaleX(-1) translate(0px, -2px);
    }

    ul li div {
        margin: -10px 0px -10px 0px;
    }
}

@media (min-width: 575px) {
    .fa-code-branch {
    transform: rotate(180deg) scaleX(-1);
    }

    .topnav {
        display: none;
    }

    .bottomnav {
        display: block;
        padding: 0px 10px 0px 20px;
    }

    .bottomnav > ul {
        display: flex;
        justify-content: space-around;
    }

    .bottomnav ul li:first-child {
        flex: 1;
    }

    main {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "issues pulls"
                             "feed feed";
        padding-top: 70px;
    }

    .issues {
        display: block;
        height: 45vh;
        overflow: scroll;
    }

    .pulls {
        display: block;
        height: 45vh;
        overflow: scroll;
    }

    .feed {
        display: block;
        grid-area: feed;
        height:250px;
        width: 95vw;
        max-width: 1172px;
        /* height: calc(50vh-64px); */
        overflow: scroll;
        margin: 0 auto;
    }

    .messaging {
        display: block;
    }

    .input-field {
        width: 95vw;
        margin: 15px auto 14px;
    }

    .ghfeed {
        /* margin: 10px auto; */
        width: 45vw;
        /* max-width: 475px; */
        /* text-align: center; */
    }
}